*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}


/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
background:white;
border-bottom:1px solid #ddd;
font-size:18px;

position:sticky;
top:0;
z-index:1000;
}

.logo{
font-weight:bold;
color:#1a3c6e;
font-size:24px;
letter-spacing:1px;
}

header a{
text-decoration:none;
color:#1a3c6e;
margin:0 15px;
font-weight:500;
font-size:17px;
transition:0.3s;
}

header a:hover{
color:#3f7bdc;
}



/* HERO SECTION */

.hero{
background:linear-gradient(90deg,#1a3c6e,#3f7bdc);
color:white;
text-align:center;
padding:180px 20px;
}

.hero h3{
font-size:26px;
margin-bottom:10px;
}

.hero h1{
font-size:68px;
font-weight:700;
margin:20px 0;
}

.hero p{
font-size:20px;
margin-bottom:30px;
max-width:700px;
margin-left:auto;
margin-right:auto;
}

.hero button{
padding:14px 40px;
border:none;
border-radius:30px;
background:white;
color:#1a3c6e;
font-size:16px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.hero button:hover{
transform:scale(1.05);
}



/* FEATURES */

.features{
padding:90px 10%;
background:white;
text-align:center;
}

.features h2{
font-size:36px;
margin-bottom:40px;
color:#1a3c6e;
}

.feature-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
}

.feature-box{
background:#f5f7fb;
padding:35px;
border-radius:10px;
transition:0.3s;
}

.feature-box h3{
margin-bottom:10px;
}

.feature-box:hover{
transform:translateY(-8px);
box-shadow:0 10px 20px rgba(0,0,0,0.15);
}



/* STATS */

.stats{
display:flex;
justify-content:space-around;
padding:90px 10%;
background:#f0f4fa;
text-align:center;
}

.stat-box h2{
font-size:46px;
color:#1a3c6e;
}

.stat-box p{
margin-top:10px;
font-size:16px;
}



/* FOOTER */

footer{
text-align:center;
padding:25px;
background:#1a3c6e;
color:white;
margin-top:40px;
font-size:14px;
}